<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature"	alt="">
        <span><h4>{{Tarea.Dia}}</h4></span>
    </div>
    <div class="card-desc">
        <h2 class="text-center">Dia: {{Tarea.Dia}}</h2>
        <h5>Nota:</h5>
        <p>{{Tarea.Observacion}}</p>	
        <br>
        <h5>Lista de tareas</h5>
        <ul>
            <li *ngFor="let list of Tarea.Tareas; let i = index">{{list}}</li>           
        </ul>	
</div>


