<div class="container content">
    <div class="row">
        <div class="col-4">
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Dia</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miercoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    </select>
                </div>
                <div class="input-group mb-3">            
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" id="CheckPagar">&nbsp;Pagar Facturas
                    </div>
                    
                    
                </div>
                <div class="input-group mb-3">            
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" id="CheckComprar">&nbsp;Comprar Mercado
                        <br>
                    </div>
                </div>
                <div class="input-group mb-3">            
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" id="CheckEstudiar">&nbsp;Estudiar
                        <br>
                    </div>
                </div>
                <div class="input-group mb-3">            
                    <div class="input-group-text">
                        <input type="textarea" placeholder="Observaciones..." id="TextObservaciones" #observaciones>
                        <br>
                    </div>
                </div>

                <input class="btn btn-primary" type="button" value="Guardar" (click)="guardar(observaciones.value)">
            </form>
            
        </div>
        <div class="col-4">
            <img src="https://blog.hotmart.com/blog/2019/05/gerenciamento-de-tarefas-670x419.png" alt="" style="height: 330px;width: 600px;">
        </div>
    </div>    
    <br>
    
    <div class="row row-flex">
        <app-lista-tareas *ngFor="let d of tareas" [Tarea]="d"></app-lista-tareas>
    </div>
</div>

